/* font for document */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* styles for h1 and h2 */

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    font-size: 200%;
    }
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color:black;
    font-size: 150%;
}

/* style for hero image main page*/

#hero-main {
    background: url(/assets/images/dream-pulse-header.jpg) no-repeat center center ;
    background-size: cover;
    position: relative;
    height: 800px;
    width: 100%;
}
/* Style for menu bar */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
    
  }
  .navbar {
    overflow: hidden;
    background-color: slategrey;
    
  }
  .navbar a {
    float: left;
    color:azure;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  .navbar a:hover {
    background-color:black;
  }

  /* style for headers main page */
  .mainheader {
    text-transform: uppercase; 
    left: 0;
    right: 0;
     text-align: center;
     margin: 0 auto;
    }

.subheader {
    text-transform:capitalize; 
    left: 0;
    right: 0;
    
    text-align: center;
    }




